.sidebar {
  width: 240px;
  height: 100vh;
  background: white;
  padding: 30px 20px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
flex-direction: column;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
  border-right: 1px solid #f0f0f0;
}

.logo {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #222;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar a {
  text-decoration: none;
  color: #555;
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.25s;
}

.sidebar a:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 150, 255, 0.08),
    rgba(0, 200, 255, 0.05)
  );
  color: #111;
}

.sidebar a.active {
  background: linear-gradient(
    90deg,
    rgba(0, 150, 255, 0.18),
    rgba(0, 200, 255, 0.12)
  );
  color: #0a58ff;
  box-shadow: 0 0 12px rgba(0, 150, 255, 0.2);
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* logout */
.logout-btn {
  margin-top: auto;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.12),
    rgba(255, 0, 0, 0.08)
  );
  border: none;
  padding: 12px;
  border-radius: 12px;
  color: #c0392b;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.logout-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.15)
  );
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.25);
}
/* user info */
.user-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 30px;

  background: linear-gradient(
    135deg,
    rgba(0, 150, 255, 0.08),
    rgba(0, 200, 255, 0.05)
  );

  box-shadow: 0 0 15px rgba(0, 150, 255, 0.15);
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: linear-gradient(135deg, #60a5fa, #38bdf8);
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.user-name {
  font-weight: 600;
  color: #222;
  margin: 0;
}

.user-role {
  font-size: 12px;
  color: #666;
}
